	body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background:#a7a09a;
		/*font-family: 'Josefin Sans', sans-serif;*/
		font-family: 'Muli', sans-serif;

		
		/*font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;*/
	}
	#wrap {
		/* width:750px; */
		margin:0 auto;
		background:#A6647E;
	}
	#header {
    	padding-top: 50px;
    	padding-bottom: 20px;
		background:#EDCFCC;
	}
	h1 {
	    margin:0;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 5em;
        font-weight:700;
        /*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
    }
		
	#nav {
		padding:20px 20px;
		background:#c99;
	}
	#nav ul {
		margin:0 0;
		/*font-family: 'Amatic SC', cursive;*/
		font-size: 20px;
		text-align: center;
		list-style:none;
	}
	#nav li {
		display:inline;
		padding:0 20px;
		margin:0;
		
	}
	#main {
		float:left;
		width:70%;
		padding: 0px;
		background:#D9A6AF;
      
	}
	h2, p, h3, h4, ol {
		padding-left: 100px;
        padding-right:100px;
        padding-top: 10px;
        margin-top: 0px;


	}
	#sidebar {
		float:right;
		width:30%;
		padding-top: 40px;
		background:#A6647E;
		}
	
	#footer {
		clear:both;
		padding:5px 10px;
		background:#EDCFCC;
	}
	#footer p {
		margin:0;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
    }



#final
{
    color:red;
    font-style: italic;
}

.caption
{
	text-align: center;
	font-style: italic;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 50px;
}

#subheading
{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 3em;
	/*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
}


h2
{
	font-family: 'Muli', sans-serif;
	font-weight: 300; 
	font-size: 27px; 
	/*font-family: 'Josefin Sans', sans-serif;*/
	

}

p
{
	font-size: 20px;
	line-height: 130%;
	font-weight: 300;
	text-align: justify;
}

li a:hover
{
	color: #D9A6AF;
	
}

ul
{
	list-style: none; 
}

a
{
	text-decoration: none;
	color: black;

}

.shadow
{
	box-shadow: 0px 0px 25px #A6647E; /* first two numbers are for offset. No offset so shadow on all sides.*/
}

img
{
	width: 800px;
	text-align: center;
	display: block; 
	margin: 30px auto 30px auto;
	border-radius: 3px;
}

