	body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background:#a7a09a;
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	}
	#wrap {
		/* width:750px; */
		margin:0 auto;
		background:#A6647E;
	}
	#header {
    	padding-top: 50px;
    	padding-bottom: 50px;
		background:#EDCFCC;
	}
	h1 {
	    margin:0;
        text-align: center;
    }
	#nav {
		padding:20px 20px;
		background:#c99;
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	#main {
		float:left;
		width:70%;
		padding: 0px;
		background:#D9A6AF;
      
	}
	h2, p, h3, h4 {
		padding-left: 100px;
        padding-right:100px;
        padding-top: 10px;
        margin-top: 0px;


	}
	#sidebar {
		float:right;
		width:30%;
		padding-top: 40px;
		background:#A6647E;
	}
	#footer {
		clear:both;
		padding:5px 10px;
		background:#EDCFCC;
	}
	#footer p {
		margin:0;
		text-align: center
    }

    img{
    	padding-left: 75px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 5px;
        margin-top: 0px;
    	border-radius: 20px; 
    	height: 286px;
    	width: 430px;
    }


#final
{
    color:red;
    font-style: italic;
}

.caption
{
	text-align: center;
	font-style: italic;
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 50px;
}

